<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Planner</title>
</head>
<body>
<h1>Event Planner</h1>

<form action="/" method="GET">
    <label for="selected_day">Select Day:</label>
    <input type="date" id="selected_day" name="selected_day" value="{{ selected_day }}" required>
    <input type="submit" value="View Events">
</form>

{% if events %}
    {% if selected_day == today %}
        <h2>Events for Today</h2>
    {% else %}
        <h2>Events for {{ selected_day }}</h2>
    {% endif %}
    <table>
        <tr>
            <th>Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.start }}</td>
                <td>{{ event.end }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="/edit/{{ event.id }}">Edit</a>
                    <a href="/delete/{{ event.id }}">Delete</a>
            </tr>
        {% endfor %}
    </table>
{% else %}
    {% if selected_day == today %}
        <p>No events for today</p>
    {% else %}
        <p>No events for the selected day</p>
    {% endif %}
{% endif %}


<h2>Create Event</h2>
<form action="/create" method="POST">
    <label for="event_name">Event Name:</label>
    <label>
        <input type="text" name="event_name" required>
    </label><br>

    <label for="day">Day:</label>
    <label>
        <input type="date" name="day" value="{{ selected_day }}" required>
    </label><br>

    <label for="start_time">Start Time:</label>
    <label>
        <input type="time" name="start_time" required>
    </label><br>

    <label for="end_time">End Time:</label>
    <label>
        <input type="time" name="end_time" required>
    </label><br>

    <label for="description">Description:</label>
    <label>
        <textarea name="description"></textarea>
    </label><br>

    <input type="submit" value="Create Event">
</form>
</body>
</html>
